@font-face {
    font-family: 'Brandon Regular';
    src: url("./Assets/Brandon_reg.otf");
}

@font-face {
    font-family: 'Brandon Bold';
    src: url("./Assets/Brandon_bld.otf");
}

body {
    animation: fadeIn ease forwards 1.3s;
}


body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("./Assets/Fondo\ Bianca\ home.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fadeIn {
    animation: fadeIn ease 0.4s;
}

button, input {
    font-family: inherit;
}

a {
    color: inherit;
}

.places ul {
    padding: 0;
}

.homeIcon {
    width: 7%;
    position: absolute;
    left: 5%;
    top: 4%;
    text-align: center;
    display: block;
}

.places h1 {
    margin: 0.4rem 0.2rem 0.8rem 0.2rem;
    font-weight: 100;
}

.places {
    margin: 0;
    justify-self: center;
}

.list-food {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 2%;
}

.box {
    width: 90% !important;
    display: block;
    margin: auto;
}

.isoTipo {
    max-height: 15vh;
    max-width: 85vw;
    margin: 0 auto 1rem auto;
    justify-self: center;
    display: block;
}

.lang-buttons {
    padding: 0.5rem;
}

.lang-buttons button {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.search-bar {
    align-items: center;
    text-align: center;
    margin: auto;
    display: block;
    margin:  0.6rem auto;
    width: 100px;
}

.input {
    font-size: 1.2rem;
    padding: 10px;
    padding-bottom: 0.2rem;
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
    border: none;
    outline: none;
}

.iconos-filter {
    display: flex;
    justify-content: space-around;
    padding-top: 0.4rem;
    width: 70%;
    margin: 2% auto;
}

.iconos-filter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0 1.7rem;
    font-size: 12px;
}

.icono-svg {
    margin: auto;
    width: 2.5rem;
    filter: invert(55%) sepia(44%) saturate(1483%) hue-rotate(161deg) brightness(89%) contrast(96%);
}

/*   ---- ---FOOD BOX  ---- ------ */
.food-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;
}

.food-box h4 {
    font-style: normal !important;
    margin: 0;
    padding-left: 0.2rem;
    font-size: 1.9rem !important;
    font-weight: 100;
}

.food-box .h4-precio {
    margin: 0;
    padding-top: 0.3em;
    font-size: 1.7rem;
    font-weight: 200;
}

.food-box p {
    font-weight: 100;
    margin: 0.1rem;
    font-size: 1.6rem;
        line-height:24px;

    text-shadow: 1px 1px 1px white;
}

.left-box {
    text-align: left;
}

.headerCategory {
    text-transform: uppercase !important;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 25%;
}

.perLanguage {
    font-size: 1.6em;
    padding-bottom: 2px;
    margin: 1%;
    cursor: pointer;
    text-decoration: none;
}

.perLanguage-act {
    font-size: 1.6em;
    padding-bottom: 2px;
    margin: 1%;
    border-bottom: 1px solid;
    cursor: pointer;
    text-decoration: none;
}

.buscador {
    display: flex;
    font-size: 1.7em;
    margin: 2%;
    justify-content:center;
}

.homeAndSearch {
    display: flex;
    justify-content: space-evenly;
}

.buscador p {
    margin-left: 2%;
    font-size: 13px;
    font-family: Brandon Regular;
    font-weight: bolder;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*------------------------- MODAL--------------------------*/
.buttonDivUpselling {
    text-align: center;
}

.buttonUpselling {
    background: transparent;
    border-radius: 3px;
}

.buttonClose {
    font-size: 7vw;
    padding: .3rem .9rem;
}

.buttonSugerencia {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px 13px;
}

.guineu {
    width: 30%;
    display: block;
    margin: 0 auto !important;
}

.parentModal {
    position: absolute;
    display: flex;
    margin: 0 13px;
    top: 50vh;
    transform: translate(0, -50%);
    height: 90vh;
    width: 93vw;
    animation: fadeIn ease forwards 0.7s;
}

.fadeOutPopUp {
    animation: fadeOut ease forwards 0.5s;
}

.fadeOut {
    animation: fadeOut ease forwards 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.overlayModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mymodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mymodal h1 {
    font-size: 2.4em;
    letter-spacing: .05em
}

.mymodal p {
    font-size: 1.3em;
    margin-top: 10%;
    letter-spacing: .03em;
    width: 50%;
    text-align: center;
}

.modalDivider {
    width: 30%;
    margin: 15px auto;
}

/*   ---- ---- allergen popup ---- ------ */
.myPopUp {
    margin: 10% auto;
}

.parentPopUp {
    position: absolute;
    display: flex;
    margin: 0 13px;
    top: 50vh;
    transform: translate(0, -50%);
    height: 83vh;
    width: 93vw;
    animation: fadeIn ease forwards 0.7s;
}

label {
    padding: 0 10px;
}

.iconBoxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.03em
}

.iconBoxContainerChecked {
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.4;
}

.iconBoxContainerChecked img {
    width: 3.8rem
}

.iconBoxContainerChecked p {
    font-size: 1.3em;
    letter-spacing: 0.05em
}

.iconBoxContainer p {
    font-size: 1.3em;
}

.allergenIcons {
    width: 4rem;
}

.multiselect {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 52vh;
    justify-content: center;
}

.titleContainerPopUp {
    padding-bottom: 5%;
    text-align: center;
}

.titleContainerPopUp h3 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
    letter-spacing: 0.04em;
}

.titleContainerPopUp p {
    font-size: 1.5em;
    width: 70%;
    margin: auto;
    text-align: center;
    letter-spacing: 0.04em;
}

/*//////////////////queries bb////////////////*/
@media only screen and (device-width : 375px) {
    .allergenIcons {
        width: 3.3rem;
    }

    .iconBoxContainerChecked img {
        width: 3.3rem
    }

    .iconBoxContainerChecked p {
        font-size: 1.2em;
    }

    .multiselect {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: 50vh;
        justify-content: center;
    }

    .mymodal h1 {
        font-size: 2.5em;
        letter-spacing: .05em
    }

    .mymodal p {
        font-size: 1.4em;
        margin-top: 10%;
        letter-spacing: .03em;
        width: 50%;
        text-align: center;
    }

    .parentPopUp {
        position: absolute;
        display: flex;
        margin: 0 13px;
        top: 50vh;
        transform: translate(0, -50%);
        height: 90vh;
        width: 93vw;
        animation: fadeIn ease forwards 0.7s;
    }
}

@media only screen and (max-width : 360px) {
    .allergenIcons {
        width: 3rem;
    }

    .iconBoxContainerChecked img {
        width: 2.8rem
    }

    .iconBoxContainerChecked p {
        font-size: 1em;
    }

    .multiselect {
        display: flex;
        flex-wrap: wrap;
        width: 93vw;
        height: 50vh;
        justify-content: center;
    }

    .parentPopUp {
        position: absolute;
        display: flex;
        margin: 0 13px;
        top: 50vh;
        transform: translate(0, -50%);
        height: 90vh;
        width: 93vw;
        animation: fadeIn ease forwards 0.7s;
    }

    .iconBoxContainer p {
        font-size: 1em;
    }

    .titleContainerPopUp h3 {
        font-size: 2em;
        margin-bottom: 0.2em;
        letter-spacing: 0.03em;
    }

    .titleContainerPopUp p {
        font-size: 1.1em;
        letter-spacing: 0.03em;
    }

    .titleContainerPopUp h3 {
        font-size: 2.3em;
        margin-bottom: 0.2em;
        letter-spacing: 0.04em;
    }

    .titleContainerPopUp p {
        font-size: 1.4em;
        letter-spacing: 0.04em;
    }
}
